<?xml version="1.0"?>
<!--
Copyright (C) 2024 Bellande Robotics Sensors Research Innovation Center, Ronaldson Bellande

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<launch>
  <!-- Arguments -->
  <arg name="gains" default="[1.0, 0.1, 0.05]" />
  <arg name="name" default="BellandeController" />
  <arg name="output_limits" default="[-1000.0, 1000.0]" />

  <node name="bellande_controller_class_node"
    pkg="humanoid_robot_intelligence_control_system_controller" type="BellandeController.py"
    output="screen">
    <param name="gains" value="$(arg gains)" />
    <param name="name" value="$(arg name)" />
    <param name="output_limits" value="$(arg output_limits)" />
  </node>

  <include
    file="$(find ros_web_api_bellande_adaptive_continuious_controller)/launch/bellande_controller.launch">
    <arg name="gains" value="$(arg gains)" />
    <arg name="name" value="$(arg name)" />
    <arg name="output_limits" value="$(arg output_limits)" />
  </include>
</launch>
