git clone -b https://github.com/Robotics-Sensors/ROBOTIS-OP3-msgs
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-OP3
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-OP3-Tools
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Framework-msgs
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Framework
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-OP3-Common
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Utility
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-OP3-Demo
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Math
