git clone -b https://github.com/Robotics-Sensors/ROBOTIS-HUMANOID_ROBOT-msgs
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-HUMANOID_ROBOT
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-HUMANOID_ROBOT-Tools
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Framework-msgs
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Framework
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-HUMANOID_ROBOT-Common
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Utility
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-HUMANOID_ROBOT-Demo
git clone -b https://github.com/Robotics-Sensors/ROBOTIS-Math
